header{
    background-image:
    radial-gradient(
      circle at top right,
      #2d0246,
      #9f0ec4,
      #d69cf1);
    text-align: center;
    margin: -20px -20px 0px -20px;
   height: 175px;
   padding-bottom: 20px;
    color: white;
    
   
}
.flik{
    display: flex;
    
}


h1{
    text-align: center;
}
.buisness{
border-color: rgb(126, 7, 150);
border-style: dotted;
border-width: .08cm;
height: 190px;
float: left;


}
body{
    text-align: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}
#box2{
    max-width: 900px;
   margin-left: auto;
   margin-right: auto;

}

ol{
    list-style-position: inside;

    
}
.B{
    border-radius: 25%;
    text-align: center;
  
}
.wow{
border-radius: 20%;
height: 10cm;
width: 15cm;
object-fit: inherit;
}
@media all and (max-width: 800px) {
}
.nav-link{
  color: whitesmoke;
  
  
}
iframe{
    border-radius: 50%;
}

p {
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}
#box{
    width: 250px;
    border: 5px ridge rgb(196, 13, 186);
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
ol{
    padding: 0mm;
}
#head{
width: auto;
margin-left: 50%;
margin-right: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
}
nav{
    display: flex;
    flex-direction: initial;
    align-self: center;
}
a{
  padding: auto;  
}

.padding {
    padding: 0px 5px 0px 5px;
    display: flex;
}
#min{
display: flex;
justify-content: space-evenly;
}
#soap{
    font-size: larger;
}
#clothes{
    font-size: larger;
}
#jewelry{
    font-size: 30px;
}