header{
    background-color: blue;
    text-align: center;
    margin: -20px -20px 0px -20px;
}



h1{
    
    font-family: 'Lobster', cursive;
    text-align: center;
}
.buisness{
border-radius: 40%;
border-color: rgb(49, 10, 224);
border-style: dotted;
border-width: .08cm;
height: 2.5cm;
content-align: left;

}
body{
    text-align: center;
}
:root{
    background-image:
    radial-gradient(
      circle at top right,
      #041F60,
      #0476D0,
      #2CEEF0);
      font-family: 'Times New Roman', Times, serif;

}
ol{
    list-style-position: inside;

    
}
.B{
    border-radius: 50%;
    text-align: center;
    border-color: black;
}
.wow{
border-radius: 50%;
border-width: 15px;
height: 8cm;
width: 11cm;
object-fit: inherit;
}
@media all and (max-width: 800px) {
}
#nav-link{
  color: whitesmoke;
}
iframe{
    border-radius: 50%;
}

p {
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}
#box{
    width: 250px;
    border: 5px ridge blue;
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    margin: auto auto;
}
ol{
    padding: 0mm;
}
#head{
width: auto;
margin-left: 50%;
margin-right: 50%;
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
}
nav{
    display: flex;
    flex-direction: initial;
    align-self: center;



    
}